@use "../themes/defaultTheme" as *;
@use "../util/variables" as *;
@use "../util/mixins" as *;

.greet {
  padding: 1rem 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1{
  margin-bottom: 2%;
}

.image{
  margin-bottom: 2%;
}

.h4{
  color: black;
}

.showcase {
  @include flex-center;
  justify-content: space-between;
  padding: 1rem 1rem;
}
